<div class="container">
  <h1>Welcome to Notes Manager!</h1>

  <p><a href="/note/new">Create New Note</a></p>

  <% @notes.each_with_index do |note,index| %>
      <h4><%= index+1 %>. <%= note.title %></h4>
      <p><%= note.content %></p>
      <a href="/note/edit/<%= note.id %>">Edit</a>
      <a href="/note/delete/<%= note.id %>">Delete</a>
      <br>
  <% end %>
  
</div>
